{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey there! I'm Ashley, and welcome to my blog. Here, I share my
          journey in computer science, balancing work and study, and my
          adventures in Python programming. I'm currently a final-year part-time
          computer science student, having moved to the UK to pursue both my
          career and education.
        </p>
        <h2>My Journey</h2>
        <p>
          Originally, I came to the UK to work as a carer – a role that's both
          rewarding and demanding. Despite the long working hours, my passion
          for coding never dims. Each day, I carve out time to immerse myself in
          the world of Python, constantly learning and growing.
        </p>
        <h2>Skills and more</h2>
        <p>
          Completing a comprehensive Python bootcamp marked a significant step
          in my coding journey. It was an intensive dive into databases with
          MySQL and PostgreSQL, and mastering database migrations. I've
          developed a knack for web scraping using Selenium, and I've become
          proficient in data manipulation with numpy and pandas. Creating and
          deploying web applications in Flask and API development are now part
          of my toolkit. But my passion doesn't stop at coding. I have a
          creative side too! I love making YouTube videos where I share coding
          tutorials, my experiences as a student in the UK, and insights into
          the tech world. This hobby has not only honed my presentation and
          communication skills but also allowed me to connect with like-minded
          individuals globally. Additionally, I enjoy drawing, which complements
          my technical skills by fostering creativity and providing a refreshing
          break from the logical rigor of programming.
        </p>
        <h2>Purpose of this Blog</h2>
        <p>
          This blog is more than just a platform for sharing knowledge. It's a
          testament to my journey as a part-time student and a full-time
          professional. Here, I'll be talking about everything from basic Python
          tutorials to advanced topics like database management and API
          construction. Whether you're a beginner in the world of coding or an
          experienced developer seeking fresh insights, I hope you find
          something valuable here.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
